.toolbar {
    width: 100%;
    height: 60px;
    background-color: rgb(170, 87, 102);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.routes {
    width: 150px;
    display: flex;
    justify-content: space-between;
}